*{
  margin: 0px;
  padding: 0px;
}
.photograph img{
  height:400px;
  width: 400px;
  padding-top: 80px;
  border-radius: 90%;
  margin-left: 30%;
}
.container{
  display: flex;
  padding-top: 60px;
}
.name_section{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.photograph{
  width: 60%;
}
.name_section h1{
  color: white;;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 100px;
  text-shadow: 0px 0px 10px rgb(230, 105, 126);
  font-size: 40px;
}
.name_section p{
  color: white;
  -webkit-text-stroke: 0vw white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  margin-top: 20px;
  text-align: left;
  margin-left: 15px;
  text-shadow: 0px 0px 15px black;
}
.name_section h3{
  font-family: "Updock", cursive;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
  color:rgb(2, 1, 22);
  text-shadow: 0px 0px 15px white;
}
.name_section h5{
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 29px;
  box-shadow: 0px 0px 15px pink;
  border-right: .15rem solid white;
  margin-top: 20px;
  margin-left: 45px;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s steps(20,end) infinite forwards;
}
@keyframes typing{
  0%{
    width: 0;
  }
  50%{
    width: 65%;
  }
}
.name_section button{
  color: white;
  background-color: transparent;
  padding: 30px;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 15px;
  width: 300px;
  align-self: center;
  margin-bottom: 20px;
}
.name_section button i{
  margin-left: 10px;
}
.container{
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}